# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 4th May, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1gCOcK20aw9a2i3kMK0ccymYIXPqOrqkq?usp=sharing 

<h3><span style="color:red"> Deadline: 20th May, 2025 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [2]:
# Write your code here
import pandas as pd

pop = pd.read_csv('./population_by_county.csv')

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [3]:
# Write your code here

pop.head(8)

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [11]:
# Write your code here

for col in pop.columns:
    print(col)

County
State
2010Census
2017PopEstimate

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [16]:
# Write your code here

pop['State'].nunique()

51

#### 5. Get a list or array of all the states in the data set.

In [24]:
# Write your code here

pop['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [4]:
# Write your code here

pop['County'].value_counts().head()

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [5]:
# Write your code here

pop.sort_values(by='2010Census', ascending=False)[['County']][:5]

                  County
1713  Los Angeles County
628          Cook County
1209       Harris County
1784     Maricopa County
2501    San Diego County

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [13]:
# group by State - all columns
# sort by 2010Census, asc
# reset index to make State as column and pick the top 5 states

pop.groupby(['State']).sum().sort_values(by='2010Census', ascending=False).reset_index()[['State']][:5]

# pop[['State','2010Census']].groupby('State').sum().sort_values('2010Census', ascending=False).head().index.to_list()

        State
0  California
1       Texas
2    New York
3     Florida
4    Illinois

#### 9. How many Counties have 2010 populations greater than 1 million?

In [82]:
# Write your code here

pop[pop['2010Census'] > 1000000]['County'].nunique()

38

#### 10. How many Counties don't have the word "County" in their name?

In [18]:
# create a fn to check if the county values do not have 'County' in it
def find_county(c):
    if 'County' in c:
        return False
    elif 'county' in c:
        return False
    else:
        return True

# apply the fn in the county column, returns all the counties where County word is absent
# print(pop['County'].apply(lambda c: find_county(c)).sum())
# pop[pop['County'].apply(lambda x: find_county(x))]['County'].nunique()

sum(pop['County'].apply(lambda name: 'County' not in name))

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [135]:
# Write your code here

pop['PerChangebyCounty'] = ((pop['2017PopEstimate']-pop['2010Census'])*100/pop['2010Census']).round(2)
pop.head(10)

,County,State,2010Census,2017PopEstimate,PerChangebyCounty
0,Abbeville County,South Carolina,25417,24722,-2.73
1,Acadia Parish,Louisiana,61773,62590,1.32
2,Accomack County,Virginia,33164,32545,-1.87
3,Ada County,Idaho,392365,456849,16.43
4,Adair County,Iowa,7682,7054,-8.17
5,Adair County,Kentucky,18656,19485,4.44
6,Adair County,Missouri,25607,25377,-0.90
7,Adair County,Oklahoma,22683,21909,-3.41
8,Adams County,Colorado,441603,503167,13.94
9,Adams County,Idaho,3976,4147,4.30

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [150]:
# Write your code here

# group by State, take sum of cols = 2010Census and 2017PopEstimate
pop_copy = pop.groupby(['State'])[['2010Census', '2017PopEstimate']].sum().reset_index()
# recalculate PercentChange by State
pop_copy['PerChangebyState'] = ((pop_copy['2017PopEstimate']-pop_copy['2010Census'])*100/pop_copy['2010Census']).round(2)
# sort by PercentChange desc and pick top 5 states
pop_copy.sort_values(by='PerChangebyState', ascending=False).reset_index(drop=True)[:5]

                  State  2010Census  2017PopEstimate  PerChangebyState
0  District of Columbia      601723           693972             15.33
1                 Texas    25145561         28304596             12.56
2          North Dakota      672591           755393             12.31
3                  Utah     2763885          3101833             12.23
4               Florida    18801310         20984400             11.61

In [20]:
pop.drop(['County'], axis=1).groupby('State').sum()

                      2010Census  2017PopEstimate
State
Alabama                  4779736          4874747
Alaska                    710231           739795
Arizona                  6392017          7016270
Arkansas                 2915918          3004279
California              37253956         39536653
Colorado                 5029196          5607154
Connecticut              3574097          3588184
Delaware                  897934           961939
District of Columbia      601723           693972
Florida                 18801310         20984400
Georgia                  9687653         10429379
Hawaii                   1360301          1427538
Idaho                    1567582          1716943
Illinois                12830632         12802023
Indiana                  6483802          6666818
Iowa                     3046355          3145711
Kansas                   2853118          2913123
Kentucky                 4339367          4454189
Louisiana                4533372          4684333
Maine                    1328361          1335907
Maryland                 5773552          6052177
Massachusetts            6547629          6859819
Michigan                 9883640          9962311
Minnesota                5303925          5576606
Mississippi              2967297          2984100
Missouri                 5988927          6113532
Montana                   989415          1050493
Nebraska                 1826341          1920076
Nevada                   2700551          2998039
New Hampshire            1316470          1342795
New Jersey               8791894          9005644
New Mexico               2059179          2088070
New York                19378102         19849399
North Carolina           9535483         10273419
North Dakota              672591           755393
Ohio                    11536504         11658609
Oklahoma                 3751351          3930864
Oregon                   3831074          4142776
Pennsylvania            12702379         12805537
Rhode Island             1052567          1059639
South Carolina           4625364          5024369
South Dakota              814180           869666
Tennessee                6346105          6715984
Texas                   25145561         28304596
Utah                     2763885          3101833
Vermont                   625741           623657
Virginia                 8001024          8470020
Washington               6724540          7405743
West Virginia            1852994          1815857
Wisconsin                5686986          5795483
Wyoming                   563626           579315